In [1]:
import numpy as np
import pandas as pd

In [5]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [7]:
df = pd.read_csv('covid_toy.csv')

In [9]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [11]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [15]:
x_train

    age  gender  fever   cough       city
73   34    Male   98.0  Strong    Kolkata
64   42    Male  104.0    Mild     Mumbai
7    20  Female    NaN  Strong     Mumbai
70   68  Female  101.0  Strong      Delhi
65   69  Female  102.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
37   55    Male  100.0    Mild    Kolkata
71   75  Female  104.0  Strong      Delhi
98    5  Female   98.0  Strong     Mumbai
68   54  Female  104.0  Strong    Kolkata
31   83    Male  103.0    Mild    Kolkata

[80 rows x 5 columns]

# Without Column Transformation

In [29]:
# adding Simple immputer to fever col
si = SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']])

# also for test data
x_test_fever = si.fit_transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

In [42]:
# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop = 'first',sparse_output= False)
x_train_gender_city = ohe.fit_transform(x_train[['gender','city']])

x_test_gender_city = ohe.fit_transform(x_test[['gender','city']])

x_train_gender_city.shape

(80, 2)

In [38]:
# Extracting Age
x_train_age = x_train.drop(columns=['gender','fever','cough','city']).values
x_test_age = x_test.drop(columns=['gender','fever','cough','city']).values
x_train_age.shape

(80, 1)

In [46]:
x_train_transformed = np.concatenate((x_train_age,x_train_fever,x_train_gender_city),axis =1)
x_test_transformed = np.concatenate((x_test_age,x_test_fever,x_test_gender_city),axis =1)

x_train_transformed.shape

(80, 4)

# Wint Column Transformation

In [51]:
from sklearn.compose import ColumnTransformer

In [53]:
transfromer = ColumnTransformer ( transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder = 'passthrough')

In [55]:
transfromer.fit_transform(x_train).shape

(80, 7)

In [57]:
transfromer.fit_transform(x_test).shape

(20, 7)